[submodule "dependencies/IsaacLab"]
	path = dependencies/IsaacLab
	url = https://github.com/isaac-sim/IsaacLab.git
[submodule "dependencies/starVLA"]
	path = dependencies/starVLA
	url = git@github.com:vitorcen/StarVLA.git
	branch = starVLA_dev
